body {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    background-color: #ebf9fe;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    display: flex;
    justify-self: center;
    height: 70vh;
    width: 80%;
    border-radius: 0 10px 0 10px;
    box-shadow: 0 0 10px rgb(181, 181, 181);
}

#searcher {
    display: flex;
    width: 80%;
    margin:auto;
    align-content: center;
    justify-content: right;
    padding: 20px 0 20px 0;
}

.black_border {
    border: 1px solid rgb(0, 0, 0);
}

.white_border {
    border: 1px solid rgb(255, 255, 255);
}

.insert_population {
    border:1px solid rgb(156, 156, 156);
    border-radius: 7px;
    box-shadow: 0 0 5px gray;
}

#sender {
    width: 50px;
    background-color: #ebf9fe;
    border:none;
}

.glass {
    width: 70%;
    transition: 0.1s;
}

.glass:hover {
    opacity: 0.5;

}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin:auto;
}

.title>h1 {
    color: rgb(58, 58, 58);
}

@media (min-width:769px){

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head_small {
        display: none;
    }
    
    header>nav {
        display: flex;
        align-items: center;
        justify-content: end;
        gap:15px;
    }
    
    header>nav>a {
        text-decoration: none;
        transition: 0.1s;
        color: rgb(95, 95, 95);
        font-weight: bold;
    }
    
    header>nav>a:hover {
        color: rgb(156, 156, 156);
    }
    
    header>img {
        width: 7%;
        cursor: pointer;
        transition: 0.1s;
    }

    .burguer_black {
        display: none;
    }
    
    .img_user {
        width: 5%;
        cursor: pointer;
    }
    
    .arrow_user {
        width:2%;
        cursor: pointer;
    }
    
    .modal_header {
        position: fixed;
        background-color: #ffffff;
        z-index:1000;
        width:10%;
        padding:10px;
        border:none;
        line-height: 15px;
        transform: translateY(-300%);
        right: 8%;
        transition: 0.1s;
        box-shadow:  0 0 10px rgb(127, 127, 127);
    }
    
    .modal_header.modal_header--show {
        transform: translateY(70%);
        transition: 0.1s;
    }
    
    .modal_header_button {
        border-radius: 7px;
        background-color: #87d5fc;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        transition-duration: 0.2s;
        font-weight: bold;
    }
    
    .modal_header_button:hover{
        color: rgb(232, 232, 232);
        background-color: #7ac2e6;
    }

    #map {
        display: flex;
        justify-self: center;
        height: 70vh;
        width: 80%;
        border-radius: 0 10px 0 10px;
        box-shadow: 0 0 10px rgb(181, 181, 181);
    }
    
    
}

@media (max-width:768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal_header {
        display: none;
    }

    .head_small{
        background-color:#87d5fc;
        position: absolute;
        z-index:10000;
        border-radius: 0 10px 10px 0;
        position:fixed;
        transform: translateX(-200%);
        transition: 0.2s;
    }

    .head_small--show {
        transform: translateX(-6%);
        transition: 0.2s;
    }

    .head_small>nav>a{
        display: flex;
        flex-direction: column;
        color:white;
        text-decoration: none;
        font-weight: bold;
        padding: 20px;
        transition: 0.2s;
        width: 45%;
    }

    .head_small>nav>a:hover{
        color:rgb(231, 231, 231);
    }
    
    header>nav {
        display: none;
        align-items: center;
        justify-content: end;
        gap:15px;
    }
    
    header>nav>a {
        text-decoration: none;
        transition: 0.1s;
        color: rgb(95, 95, 95);
        font-weight: bold;
    }
    
    header>nav>a:hover {
        color: rgb(119, 119, 119);
    }
    
    header>img {
        display: flex !important;
        width: 15%;
        cursor: pointer;
        transition: 0.1s;
    }

    .burguer_black {
        width:10%;
    }
    
    .img_user {
        width: 10%;
        cursor: pointer;
    }
    
    #usr {
        color:white;
        font-weight: bold;
    }

    .arrow_user {
        width:2%;
        cursor: pointer;
    }
    
    .modal_header {
        position: fixed;
        background-color: #ffffff;
        z-index:1000;
        width:10%;
        padding:10px;
        border:none;
        line-height: 15px;
        transform: translateY(-300%);
        right: 8%;
        transition: 0.1s;
        box-shadow:  0 0 10px rgb(127, 127, 127);
    }
    
    .modal_header.modal_header--show {
        transform: translateY(70%);
        transition: 0.1s;
    }
    
    .modal_header_button {
        border-radius: 7px;
        background-color: #87d5fc;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        transition-duration: 0.2s;
        font-weight: bold;
    }
    
    .modal_header_button:hover{
        color: rgb(232, 232, 232);
        background-color: #7ac2e6;
    }

    #usr_smll {
        color:white;
        font-weight: bold;
    }

    #searcher {
        display: flex;
        width: 80%;
        margin:auto;
        align-content: center;
        justify-content: center;
        padding: 20px 0 20px 0;
    }

    #map {
        display: flex;
        justify-self: center;
        height: 50vh;
        width: 80%;
        border-radius: 0 10px 0 10px;
        box-shadow: 0 0 10px rgb(181, 181, 181);
    }
    
}

footer {
    padding-top: 100px;
    color:rgb(187, 187, 187);
    text-align: center;
}